# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# IntelliJ project files
.idea
*.iml
out
gen
/node_modules

# Вспомогательные файлы
*.log*
node_modules/
reports/

# Папка с собранными файлами проекта
# build/
