@import "../mixins/media";

header {

}

.header-block {
    background-image: url(../img/header-back.png )center top no-repeat;
    height: auto;
    width: 80%;
    margin: 10px auto;
}
.header-image {
    background-image: url(../img/header-moon.png )right top no-repeat;
    height: 236px;
    margin-right: 41px;
    //position: relative;
}
