extends common/layout

block content
  main.main
    h2 Title
    include includes/index/banner
    hr
    p список задач необходимых для обучения
    ul.items
      li.items__t пробы верстки различных блоков с PUG и GULP
      li.items__t разбор каждого существующего модуля (ФАЙЛА)данной сборки
      li.items__t комит и ПРОБНОЕ удаление ненужных файлов проекта
      li.items1__t поиск в сети и ознкомление с информацией по GULP-4
      li.items1__t начало освоения уроков по верстке и CSS


    //- и другие блоки
